.App {
  height: 100vh;
  background-color: #153d5c;
  color: white;
}

.App-header {
  background-color: rgba(255, 255, 255, 0.05);
  height: 8rem;
  display: flex;
  align-items: center;
  color: white;
}

.App-header img {
  height: 80%;
  margin-left: 5%;
}

.App-link {
  color: #61dafb;
}

/*********************
Message / Send Tags page
*********************/

.App-sendTags {
  display: flex;
  justify-content: center;
  margin-top: 14rem;
  padding: 1rem;
}

/*********************
Form styling
*********************/

.message-form {
  /* margin-top: -20rem; */
}

.message-formGroup {
  margin-top: 1.2rem;
  font-size: 1.6rem;
}

/* Set width of labels */
.message-formGroup-labelWidth label,
.radio-label {
  display: inline-block;
  min-width: 15rem;
}

/* Set width of input types */
.message-formGroup input[type='text'],
#sendType {
  width: 30rem;
}

/* Format radio buttons */
.message-formGroup-radio {
  margin-bottom: 2rem;
}
.message-formGroup-radio label {
  margin-right: 1rem;
}

.message-button {
  display: block;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  font-size: 1.7rem;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.message-button:hover {
  cursor: pointer;
  color: #61dafb;
}

/* Message to recipients */
.message-sentToRecip {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  max-width: 50rem;
}
